@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  color-scheme: dark;
}

body {
  margin: 0;
  background-color: #09090b; /* Zinc 950 */
  color: #e4e4e7; /* Zinc 200 */
}
